* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #0f0ca1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.nav_bar:hover {
    background-color: #22186d;
}

.navetor h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.navetor h1 a:hover {
    color: #d4d4d4;
}

.navetor_list1 {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    color: white;
}

.navetor_list1 li {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navetor_list1 li:hover {
    transform: scale(1.1);
}

.navetor_list1 li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navetor_list1 li a:hover {
    color: #d4d4d4;
}